.span2
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header People
      %li
        %a{:href => "/people/new"} new person
      %li
        %a{:href => "/groups/new"} new group
      %li
        %a{:href => "/groups"} groups
      %li.divider
      .btn-group-vertical
.span10
  .hero-unit
    %ul.breadcrumb
      %li
        %a{:href => "#"} People!
        %span.divider /
    = yield