.span2
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header People
      %li
        %a{:href => "#"} new person
      %li
        %a{:href => "#"} new group
      %li
        %a{:href => "#"} groups
      %li.divider
      .btn-group-vertical