<!DOCTYPE html>
<html>

  <head>
    <title>BdSchool</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
          <div class="puzzle_logo">
            <img alt="Logo" src="/assets/01.png">
          </div>
      </div>

      <div class="span10">
        <div class="masthead">
          <div class="puzzle_logo">
            <img alt="Logo" src="/assets/02.jpg">
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <ul class="nav">
                  <li><a href="#">People</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="#">Events</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="#">Invites</a></li>
                  <li class="divider-vertical"></li>
                </ul>
                <ul class="nav pull-right">
                  <li class="divider-vertical"></li>
                  <li><a href="#">Link</a></li>
                  <li class="divider-vertical"></li>
                  <div class="btn-group">
                    <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">Inverse <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
              </div>
            </div>
          </div><!-- /.navbar -->
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">

    <div class="row-fluid">

      <div class="span2">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Sidebar</li>
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="nav-header">Sidebar</li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div><!--/.well -->
      </div>

      <div class="span10">
        <div class="hero-unit">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Library</a> <span class="divider">/</span></li>
            <li class="active">Data</li>
          </ul>
          <br>
          <div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <footer>
      <p>© Company 2013</p>
    </footer>
  </div>
  </body>
</html>


